<article class="card">
    <div class="card-body">
<<<<<<< HEAD
        <h1>{{this.name}}</h1>
        <img src="/Perfiles/fotodinamica/{{this.Imagen}}" alt="">
        <a href="" class="btn btn-outline-success btn-sm">WhatsApp</a>
=======
        <h1>{{this.titulo}}</h1>
        <p>{{this.contenido}}</p>
        <small>Posted by: {{this.usuario}}</small>
>>>>>>> b08051884faac0f40bfb7c018549e0b315ba2123
    </div>
</article>