
     <h2>{{this.name}}</h2>
    {{#if this.tieneMultiplesImagenes}}
        <div class="galeria">
            {{#each this.imagenes}}
                <img src="{{this}}" alt="Imagen de la publicación">
            {{/each}}
        </div>
    {{else}}
        <img src="{{this.imagenes.0}}" alt="Imagen de la publicación">
    {{/if}}


<!-- {{#each publics}}       <Span class="image-container">         <img src="/Perfiles/fotodinamica/{{this.Imagen}}" alt="{{this.Imagen}}">  </Span>      {{/each}}-->