{{> Navbar}}
<h1>Hola desde home</h1>
<ul>
    <li>
        <a href="/register" class="btn btn-outline-success">Usuario: {{this.username}}</a>
    </li>
</ul>

{{> Forms}}
<<<<<<< HEAD
<!---->
{{#each publicaciones}}
  <h2>{{this.name}}</h2>
  {{#if this.tieneMultiplesImagenes}}
    <div class="galeria">
      {{#each this.imagenes}}
        <span>
          <img src="{{this}}" alt="Imagen">
        </span>
      {{/each}}
    </div>
  {{else}}
    <span>
      <img src="{{this.imagenes}}" alt="Imagen única">
    </span>
  {{/if}}
  <button class="btn btn-success">WhatsApp</button>
=======

{{#each publics}}
{{> Cards}}
>>>>>>> f777a61d2bcc15da0bfab0648a118cedd4a599ba
{{/each}}
